@import "tailwindcss";

/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

/* Config font family */
@font-face {
  font-family: "Chillax";
  src: url("../public/fonts/Chillax-Regular.woff2") format("woff2");
  font-weight: 400; /* Regular */
  font-display: swap;
}

@font-face {
  font-family: "Chillax";
  src: url("../public/fonts/Chillax-Light.woff2") format("woff2");
  font-weight: 300; /* Light */
  font-display: swap;
}

@font-face {
  font-family: "Chillax";
  src: url("../public/fonts/Chillax-Bold.woff2") format("woff2");
  font-weight: 700; /* Bold */
  font-display: swap;
}
}