@import "tailwindcss";

@plugin "@midudev/tailwind-animations";

/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

/* Config font family */
@font-face {
  font-family: "Chillax";
  src: url("/fonts/Chillax-Regular.woff2") format("woff2");
  font-weight: 400; /* Regular */
  font-display: swap;
}

@font-face {
  font-family: "Chillax";
  src: url("/fonts/Chillax-Light.woff2") format("woff2");
  font-weight: 300; /* Light */
  font-display: swap;
}

@font-face {
  font-family: "Chillax";
  src: url("/fonts/Chillax-Bold.woff2") format("woff2");
  font-weight: 700; /* Bold */
  font-display: swap;
}

/* Config custom variables */
@theme {
  --color-bg: var(--bg-primary);
  --color-text: var(--text-color-primary);

  --color-border: #3d444d;

  --spacing-navbar-items: 48px;
}

/* Dark mode */
:root {
  color-scheme: light dark;

  --bg-primary: #F5F5F5;
  --text-color-primary: #0d1117;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #0d1117;
    --text-color-primary: #F5F5F5;
  }
}

[data-theme="dark"] {
  --bg-primary: #0d1117;
  --text-color-primary: #F5F5F5;
}

[data-theme="light"] {
  --bg-primary: #F5F5F5;
  --text-color-primary: #0d1117;
}

html {
  font-family: "Chillax", sans-serif;
  line-height: 1.5;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-color-primary);

  max-width: 1000px;
  padding-top: 30px;
  margin: auto;
}